body{
    background-color: #ebe3ce;
}

header a{
    color:#fff;

}

.button {
        background-color:#df581e;
        border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.icon{
    padding-top: 44px;
    
}
h3{
    margin-left: 65px;
}
#container{
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 80px;
    padding-left: 120px;
}
.date{
    background-color: #ebe3ce;
  padding: 20px; 
  border-radius: 25px;
  width: 200px;
  height: 60px;  
}
.time{
    background-color: #ebe3ce;
    padding: 20px; 
    border-radius: 25px;
    width: 200px;
    height: 60px;   
}
.mail{
    background-color: #ebe3ce;
  padding: 20px; 
  border-radius: 25px;
  width: 200px;
  height: 60px;
}
.availability{
    background-color:#6ab99c;
    color:black;
  padding: 20px; 
  border-radius: 25px;
  width: 200px;
  height: 60px;
}
.card-img-top{
    width: 55%;
    height: 55%;
    margin-left: 20%;
}
.card{
    border-radius: 30px;
}
.button{
    margin-left:26%;
}
.Table-image{
    width: 10%;
    height: 15%; 
    float: right; 
}
.Table-image2{
    width: 10%;
    height: 15%;
    float: left;
}
.Read-button{
    text-align: center;
}
